## Tarea 1
##### Dataset de salarios (Científicos de datos)

https://www.kaggle.com/datasets/iamsouravbanerjee/data-science-salaries-2023

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("Latest_Data_Science_Salaries.csv")
df.head(10)

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023
5,Data Scientist,Full-Time,Senior,Expert,126000,United States Dollar,United States,126000,United States,Medium,2023
6,Data Scientist,Full-Time,Senior,Expert,170000,United States Dollar,United States,170000,United States,Medium,2023
7,Data Scientist,Full-Time,Senior,Expert,130000,United States Dollar,United States,130000,United States,Medium,2023
8,Data Engineer,Full-Time,Mid,Intermediate,85000,British Pound Sterling,United Kingdom,104584,United Kingdom,Medium,2023
9,Data Engineer,Full-Time,Mid,Intermediate,75000,British Pound Sterling,United Kingdom,92280,United Kingdom,Medium,2023

# Ejercicio en Clase:

Para este ejercicio debes realizar los siguientes pasos de manera anticipada los siguientes procesos:
- Cargar el conjunto de datos desde un archivo CSV utilizando pandas.
- Explorar y familiarizarse con la estructura del conjunto de datos.
- Calcular estadísticas descriptivas, como el promedio, la mediana y la desviación estándar, de variables relevantes del conjunto de datos general.

#### Acciones por ejecutar

1. ¿Cúantos posibles "Job Title" existen en el Dataset?
2. ¿Cúales son los "Employment Type" y en qué frecuencia se presentan en el Dataset?
3. ¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?
4. ¿Cuáles son los "Salary Currency" y a qué tasa está covertido respecto al dolar cada uno?
5. ¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?
6. ¿Cuál salario promedio por "Job Title" agrupado?
7. ¿Cuál es el salario promedio por país de residencia (Employee Residence)?
8. ¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?
9. ¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía?
10. muestre los datos agrupados por tamaño de la compañía, país y salario promedio.

### Propuesta de solución

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("Latest_Data_Science_Salaries.csv")
df.head(10)

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023
5,Data Scientist,Full-Time,Senior,Expert,126000,United States Dollar,United States,126000,United States,Medium,2023
6,Data Scientist,Full-Time,Senior,Expert,170000,United States Dollar,United States,170000,United States,Medium,2023
7,Data Scientist,Full-Time,Senior,Expert,130000,United States Dollar,United States,130000,United States,Medium,2023
8,Data Engineer,Full-Time,Mid,Intermediate,85000,British Pound Sterling,United Kingdom,104584,United Kingdom,Medium,2023
9,Data Engineer,Full-Time,Mid,Intermediate,75000,British Pound Sterling,United Kingdom,92280,United Kingdom,Medium,2023

In [15]:
df.head()

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023

In [16]:
df["Salary"].mean()

204662.29212121211

In [17]:
df["Salary in USD"].mean()

142095.98393939395

In [18]:
df["Year"].mean()

2022.4954545454545

In [19]:
df['Salary'].median()

140000.0

In [20]:
df['Salary in USD'].median()

136000.0

In [21]:
df['Year'].median()

2023.0

In [22]:
df['Salary'].std()

727938.2945215825

In [23]:
df['Salary in USD'].std()

69028.23551160393

In [25]:
df['Year'].std()

0.7163554609710969

Los títulos posibles en el data base son

In [33]:
job_titles = df['Job Title'].nunique()
print(job_titles)

111

¿Cúales son los "Employment Type" y en qué frecuencia se presentan en el Dataset?

In [48]:
job_type = df['Employment Type'].unique()
for job in job_type:
    count = df['Employment Type'].value_counts()[job]
    print("Job Type:",job,"Amount:",count)

Job Type: Full-Time Amount: 3261
Job Type: Contract Amount: 15
Job Type: Part-Time Amount: 13
Job Type: Freelance Amount: 11

¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?

In [61]:
"""job_expertise = df['Expertise Level']
job_experience = df['Experience Level']

expertise_levels = job_expertise.unique()
experience_levels = job_experience.unique()

for level in experience_levels:
    level_salary = df[df['Expertise Level'] == level]
    print(level_salary['Salary'].mean())

resultado = df[job_expertise == 'Expert']

print(expertise_levels, experience_levels)
print(df['Expertise Level'])
El intento fracasado de Melanie
"""

nan
nan
nan
nan
['Expert' 'Intermediate' 'Director' 'Junior'] ['Senior' 'Mid' 'Executive' 'Entry']
0             Expert
1             Expert
2             Expert
3             Expert
4             Expert
            ...
3295          Expert
3296    Intermediate
3297          Junior
3298          Junior
3299          Expert
Name: Expertise Level, Length: 3300, dtype: object

In [63]:
df_grouped = df.groupby('Expertise Level')['Salary in USD'].mean()
df_grouped

Expertise Level
Director        191512.143836
Expert          160277.513317
Intermediate    108714.977415
Junior           79921.479452
Name: Salary in USD, dtype: float64

¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?

In [17]:
countries = df['Employee Residence'].unique()
countries = (countries)

amount_countries = len(countries)

print("Paises diferentes:", countries, "Cantidad de paises:", amount_countries)

Paises diferentes: ['United States' 'United Kingdom' 'Germany' 'India' 'Korea, Republic of'
 'Spain' 'Estonia' 'France' 'Philippines' 'Canada' 'Australia' 'Turkey'
 'Portugal' 'Brazil' 'Belgium' 'Switzerland' 'Andorra' 'Netherlands'
 'Ecuador' 'Peru' 'Mexico' 'Moldova, Republic of' 'Nigeria' 'Saudi Arabia'
 'Colombia' 'Ghana' 'Poland' 'Norway' 'Argentina' 'Egypt' 'Uzbekistan'
 'Georgia' 'Japan' 'South Africa' 'Italy' 'Hong Kong'
 'Central African Republic' 'Finland' 'Ukraine' 'Ireland' 'Israel'
 'Austria' 'Singapore' 'Sweden' 'Slovenia' 'Thailand' 'Croatia' 'Kuwait'
 'Cyprus' 'Armenia' 'Bosnia and Herzegovina' 'Kenya' 'Latvia' 'Romania'
 'Pakistan' 'Lithuania' 'Iran, Islamic Republic of' 'American Samoa'
 'Hungary' 'China' 'Costa Rica' 'Chile' 'Puerto Rico' 'Greece' 'Denmark'
 'Bolivia, Plurinational State of' 'Dominican Republic' 'Indonesia'
 'United Arab Emirates' 'Malaysia' 'Honduras' 'Tunisia' 'Czechia'
 'Russian Federation' 'Algeria' 'Viet Nam' 'Iraq' 'Bulgaria' 'Jersey'
 'Serbia' 'New Zealand' 'Luxembourg' 'Malta'] Cantidad de paises: 83

¿Cuál salario promedio por "Job Title" agrupado?

In [18]:
prom_job = df.groupby('Job Title')['Salary'].mean()

print("Salario promedio agrupado:",prom_job)

Salario promedio agrupado: Job Title
AI Architect                       233500.000000
AI Developer                       133666.666667
AI Programmer                       62500.000000
AI Scientist                       263444.444444
AWS Data Architect                 258000.000000
                                       ...
Sales Data Analyst                  60000.000000
Software Data Engineer             120000.000000
Staff Data Analyst                  97499.000000
Staff Data Scientist               134500.000000
Staff Machine Learning Engineer    185000.000000
Name: Salary, Length: 111, dtype: float64

¿Cuál es el salario promedio por país de residencia (Employee Residence)?

In [26]:
prom_country = df.groupby('Employee Residence')['Salary'].mean()

print("Promedio de salario:", prom_country)

Promedio de salario: Employee Residence
Algeria                 100000.000000
American Samoa           45555.000000
Andorra                  47000.000000
Argentina                56444.444444
Armenia                  50000.000000
                            ...
United Arab Emirates    100000.000000
United Kingdom           96596.857143
United States           159794.726050
Uzbekistan               82000.000000
Viet Nam                 44200.000000
Name: Salary, Length: 83, dtype: float64

¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?

In [5]:
salario_maximo = df['Salary in USD'].max()
registro_salario_maximo = df[df['Salary in USD'] == salario_maximo]

salario_minimo = df['Salary in USD'].min()
registro_salario_minimo = df[df['Salary in USD'] == salario_minimo]

print("Registro de salario máximo:\n", registro_salario_maximo)
print("\nRegistro de salario mínimo:\n", registro_salario_minimo)

Registro de salario máximo:
                Job Title Employment Type Experience Level Expertise Level  \
3085  Research Scientist       Full-Time              Mid    Intermediate

      Salary       Salary Currency Company Location  Salary in USD  \
3085  450000  United States Dollar    United States         450000

     Employee Residence Company Size  Year
3085      United States       Medium  2020

Registro de salario mínimo:
                        Job Title Employment Type Experience Level  \
1335          Staff Data Analyst       Full-Time        Executive
2641  Machine Learning Developer       Full-Time            Entry
2826                Data Analyst       Full-Time            Entry

     Expertise Level  Salary       Salary Currency Company Location  \
1335        Director   15000  United States Dollar           Canada
2641          Junior   15000  United States Dollar         Thailand
2826          Junior   15000  United States Dollar        Indonesia

      Salary in USD Employee Residence Company Size  Year
1335          15000            Nigeria       Medium  2020
2641          15000           Thailand        Large  2021
2826          15000          Indonesia        Large  2022

¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía?

In [6]:
promedio_por_grupo = df.groupby(['Job Title', 'Company Size'])['Salary in USD'].mean().reset_index()

print(promedio_por_grupo)

                           Job Title Company Size  Salary in USD
0                       AI Architect        Large       207968.0
1                       AI Architect       Medium       267000.0
2                       AI Developer        Large       215936.0
3                       AI Developer       Medium        97944.0
4                       AI Developer        Small       197500.0
..                               ...          ...            ...
199           Software Data Engineer       Medium        50000.0
200               Staff Data Analyst       Medium        15000.0
201               Staff Data Analyst        Small       179998.0
202             Staff Data Scientist       Medium       134500.0
203  Staff Machine Learning Engineer       Medium       185000.0

[204 rows x 3 columns]

In [11]:
promedio_por_grupo = df.pivot_table(index=['Company Size', 'Employee Residence'], values='Salary in USD', aggfunc='mean').reset_index()

print(promedio_por_grupo)

    Company Size               Employee Residence  Salary in USD
0          Large                        Argentina   55000.000000
1          Large                        Australia   77823.857143
2          Large                          Austria   75141.666667
3          Large                          Belgium  149994.500000
4          Large  Bolivia, Plurinational State of   75000.000000
..           ...                              ...            ...
144        Small                           Turkey   60000.000000
145        Small                          Ukraine   50000.000000
146        Small             United Arab Emirates   92500.000000
147        Small                   United Kingdom  100360.000000
148        Small                    United States  123942.325581

[149 rows x 3 columns]